<h1>A bit about Beth Walker &amp; FGR:</h1>
<p>Fairfield Group Realtors is a full service realty company, founded by Phil Steigerwald in 19XX, and is currently owned and operated by his daughter, Beth Steigerwald Walker. Beth is a highly effective REALTOR® with clear and effective skills in communication, financial accounting, business management, property management, problem solving, and organizational leadership. Her expertise is well earned with a Bachelor's degree in _______ and grounded by her qualified experience and financial fluency in banking, mortgage lending, and as a second-generation Realtor.</p>

<p>Listening is a key component here. We want to know your thoughts, needs, dreams, and desires. It's how we've earned our reputation for success and an important factor in the way we work.</p>

<p>Feel free to call or email with questions. We know you have a lot of options when selecting a Realtor, and we'd like to show you why FGR is uniquely qualified and a good resource for you in real estate. Thanks!</p>

<h4>Beth Walker, Broker/Owner</h4>
<h5>Fairfield Group Realtors</h5>
<p>
  C:  260.437.3942 <br>
  T:  260.745.5406 <br>
  F:  260.755.3099 <br>
  E:  <%= mail_to 'beth@fairfieldgrouprealtors.com' %> <br>
  725 Fulton Street <br>
  Fort Wayne, IN 46802
</p>
