<div class="row">
  <div class="span6">
    <h1>Your eyes on the front lines:</h1>
    <p>For lenders, asset recovery specialists, and agencies dealing with properties in trouble within the greater Fort Wayne, Indiana, area, we are certified and in-good-standing as one of the region's most qualified, experienced, and <strong>professional Broker Price Opinion (BPO), Real Estate Owned (REO), and Short Sale</strong> representatives.</p>
    <p>Beth Walker, Broker/Owner of Fairfield Group Realtors, is an RES.NET AMP Professional, RES.NET REO and Short Sale Certified Agent, and Equator Platinum REO and Five Star Institute REO certified.</p>
    <p>References are available upon request.</p>
    <div class="row">
      <div class="span3"><%= image_tag 'profession_icons/large/EQUATOR_REO-SHORTSALE.png' %></div>
      <div class="span3"><%= image_tag 'profession_icons/large/Five Star_REO_LOGO_2010.png' %></div>
    </div>
    <div class="row">
      <div class="span3"><%= image_tag 'profession_icons/large/RESNET_REO_Certified_Agent_Logo.jpg' %></div>
      <div class="span3"><%= image_tag 'profession_icons/large/RESNET_Short_Sale_Certified_Logo.JPG' %></div>
    </div>
  </div>
  <div class="span3">
    <div class="well">
      <h4>As a full service REO broker, we provide:</h4>
      <ul>
        <li>Broker Price Opinion (BPO) with fast turn-around; accurate market valuations, information and statistics; all photos are digitally time-stamped</li>
        <li>Occupancy Status - 24 hours in Fort Wayne; 48 hours in surrounding areas</li>
        <li>Cash for Keys</li>
        <li>Evictions</li>
        <li>Re-key/Lock changes - 24 to 48 hours</li>
        <li>Weekly visits</li>
        <li>Lawn and yard maintenance</li>
        <li>Winterization</li>
        <li>Trash outs</li>
        <li>Maid/Cleaning services</li>
        <li>Monthly Marketing Reports, including digitally time- stamped photos</li>
        <li>Snow removal, as needed</li>
      </ul>
    </div>
  </div>
</div>
