<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item">
      <%= image_tag 'ColumbiaStreetWest.jpg' %>
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item active">
      <%= image_tag 'iStock_000000214052Medium.jpg' %>
      <div class="carousel-caption">
        <h4>Second Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'iStock_000002345407Medium.jpg' %>
      <div class="carousel-caption">
        <h4>Third Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
<h1>Welcome home.</h1>
<p>You've found a comfortable spot. We are one of Fort Wayne's most established, independently owned and operated real estate companies; and unlike many Realtors, we recognize that buying and/or selling property is often a major transition in life. <strong>For buyers</strong>, we specialize in connecting homeowners with properties that fulfill their wants and needs; <strong>for sellers</strong>, we provide proven strategies, tools and techniques that offer the greatest reward.</p>
<p><strong>Our approach</strong> is based on an honest, sensitive, practical philosophy that echoes one simple truth: everyone deserves a safe, comfortable, enjoyable home. Let's talk — we're ready whenever you are.</p>
