<div class="row">
  <div class="span4">
    <%= link_to image_tag('FGR-logo_128x73.png'), root_path, :class => 'brand' %>
  </div>
  <div class="span8">
    <div class="span3 pull-right quote">
      <p>Tell me something fancy about this company that I just don't already know.</p>
    </div>

    <ul class="nav pull-right">
      <%= render 'layouts/shared/nav_links' %>
    </ul>

  </div>

</div>
