<div class="row">
  <div class="span3">
    <%= link_to image_tag('FGR-logo_179x102.png'), root_path, :class => 'brand' %>
  </div>
  <div class="span9">
    <div class="span4 pull-right quote offset5">
      <p>Tell me something fancy about this company that I just don't already know.</p>
    </div>

    <ul class="nav pull-right">
      <%= render 'layouts/shared/nav_links' %>
    </ul>

  </div>

</div>
