<div class="span3">
  <%= image_tag 'beth_walker_200x280.jpg' %>

  <p>Beth Walker<br>
  Broker/Owner</p>

  <p class='quote'>"Client testimonial goes here in nice big, easy to ready type with exaggerated quotation marks - please make them very circular to coordinate with the logo."  — Firstname(s)</p>

  <p><strong>Our commitment to<br>COMMUNITY ENRICHMENT:</strong><br>
  We proudly donate a portion of our annual proceeds to these organizations that promote healthy housing and historic preservation. For more information, please call us. We believe this community is a great place to call home for all!

  (LOGOS/LINKS:
    ARCH, West Central Neighborhood, City of FW, Allen County, Visit FW, DID, BBB, Facebook)
</div>